html {
  font-size: var(--font-size-base);
  height: 100%;
  width: 100%;
}

body {
  color: var(--text-color);
  background-color: var(--body-color);
  font-family: var(--sans-serif-font);
  font-size: 1rem;
  height: 100%;
  padding: 0;
  margin: 0;
}

#root {
  width: 55vw;
  left: 0;
  right: 0;
  top: 30%;
  position: absolute;
  margin: auto;
}

.ui-box {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 25px;
  background-color: #F0F8FF;
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}

.nxt-btn {
  padding: 10px 25px;
  border-radius: 5px;
  font-size: 1rem;
  background-color: #FFF;
  margin-top: 15px;
  cursor: pointer;
  outline: none;
}

.nxt-btn:hover {
  background-color: rgba(0, 0, 0, 0.1);
}
