.answers {
  display: flex;
  flex-direction: column;
}

.answers .checkbox {
  vertical-align: middle;
  margin-right: 15px;
}

.answer-row {
  margin: 10px 0;
}

.question {
  font-size: 1.4rem;
  letter-spacing: 1px;
  font-weight: 300;
  margin: 15px 0;
}
